/*.mat-form-field {
    width: 335px;
  }
  .example-spacer {
    flex: 1 1 auto;
}

.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
  width: 330px !important;
}

.mat-dialog-actions {
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -23px;
    margin-left: -74px;
    padding-right: 11px;
}

.mat-dialog-title {
  margin: 0 0 20px;
  display: block;
  background-color: #f9b6dfb3;
  padding: 13px 21px 9px 26px !important;
  margin: -24px -24px 34px -24px !important;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #c741b6 !important;
}

.mat-raised-button {
    margin: -16px -119px 5px 127px !important;
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
  background-color: #e2dddd !important;
  min-width: 106px !important;
  float: left;
}*/